# Python
__pycache__/
*.py[cod]

# PyInstaller
build/
dist/
*.spec.bak

# Ambiente virtual
venv/
.venv/

# Arquivos locais sensíveis
*.log
sip_config.json

# AppImage (artefato de build)
*.AppImage

# Artefatos e ferramentas binárias locais
AppDir/
VoiceNeves
linuxdeploy*
third_party/
ZRTPCPP/
voice_neves.appimage

# Editor e temporários
.vscode/
tempCodeRunnerFile.py

# Testes / cobertura
.coverage
htmlcov/
.pytest_cache/
